<h3>Modifier Une Tache</h3>

<form method="POST" action="">
    {% csrf_token %}
    {{form1}}
    <label for="">Ajouter un utilisateur a la tache ou en modifier</label>
    <input type="text" name="add-usr">

<input type="submit" name="modifier">

</form>