*{
    margin-left: 10px;
}
input{
    width: 20%;
    border-radius: 10px;
    margin: 10px;
}
.textinput { 
    width: 30%;
}
.select{
   display: hidden;
   width: 30%;
    border-radius: 10 px;
    margin-bottom: 10px;
}
.form{ 
    display: flex;
    flex-direction: column;
    -ms-flex-align:start
}

.submit{ 
    background: blue;
}
.main{
    width: 600px;
    margin: 20px auto;
    padding: 22px;
    background: cyan;
    border-radius: 5px;
    box-shadow: 6px 2px 30px 0px red;
}

.tache{ 
    background: darkgray;
    margin: 10px;
    padding: 20 px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;

}
a{ 
    text-decoration: none;
}
h3{ 
    margin-left: 50%;
   font-family: 'Times New Roman', Times, serif;
}
#id_titre{ 
    width: 30%;
    margin-left: 30%;
    border: solid black;
    border-radius: 10px;
}

#sub{
    width: 20%;
    border-radius: 10px;
}
